
teamcity/srv/data/system/buildserver\.lck

teamcity/srv/data/system/buildserver\.log

teamcity/srv/logs/

teamcity/srv/data/system/pluginData/

teamcity/srv/data/system/caches/

teamcity/srv/data/system/dataDirectoryInitialized

teamcity/srv/data/system/buildserver\.script

teamcity/srv/data/system/buildserver\.properties
